<h1>笹川さんの一言</h1>
<%= form_for(@task) do |f| %>
  <div><%= f.label :title %></div>
  <div><%= f.text_field :title %></div>
  <div><%= f.label :content %></div>
  <div><%= f.text_field :content %></div>
  <div><%= f.submit %></div>
<% end %>
<%= link_to '戻る', tasks_path %>
